/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */


.node { /* Node wrapper */
}

.preview .node { /* Preview of the content before submitting new or updated content */
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

.node .node-title { /* Node title */
}

.node .user-picture { /* The picture of the node author */
}

.node .submitted { /* The "posted by" information */
font-style: italic;
font-size: .9em;
}

.node .content { /* Node's content wrapper */
}

.node ul.links { /* Node links. See also the ul.links declaration in the pages.css. */
}

.node-promoted { /* A node that has been promoted to the front page */
}

.node-sticky { /* A sticky node (displayed before others in a list) */
}

.node-by-viewer { /* A node created by the current user */
}

.node-teaser { /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */

.node-page { /* Page content node */
}

.node-article { /* Article content node */
}

.node-unpublished { /* Unpublished nodes */
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.node-unpublished p.unpublished,
.comment-unpublished p.unpublished { /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
}

.lt-ie8 .node-unpublished p.unpublished > *,
.lt-ie8 .comment-unpublished > * {
  position: relative; /* Otherwise these elements will appear below the "Unpublished" text. */
}

/*PAGE Content*/
.node-page ul li {
  margin-bottom: 3px;
}


/****************
 * CUSTOM NODES & CONTENT TYPES *
 ****************/

 /*
 * CONTENT TYPE = Project
 */

.node-type-project .region-sidebar-second /* Sidebar fix*/ {
  margin-top: 525px; 
}

.node-type-project .field-name-field-location /* Location field*/ {
  font-style: italic;
  margin-top: 25px; 
}

.node-type-project h3.field-label /* Customer Testimonial*/ {
  color: #547A96;
  margin-top: 30px;
  font-size: 1.3em;
  font-weight: normal;
  margin: 20px 0 15px 0;
}

.node-type-project .group_project_details h2 {
  color: #547A96;
  margin-top: 30px;
}

.node-type-project .group_project_details h3.field-label {
  font-size: 1em;
  margin-bottom: 5px;
  color: #000;
  margin-top: 0px;
  font-weight: bold;
}

.node-type-project .field-name-field-customer-testimonial {
  font-style: italic;
  text-align: center;
  padding: 0 12px;
}

.node-type-project .group_project_details ul /* Project Details*/ {
  margin: 0px;
  padding: 0px;
  list-style-type: none;  
}

.node-type-project .group-left-column, 
.node-type-project .group-right-column,
.node-type-project .group_right_column_bottom,
.node-type-project .group_left_column_bottom {
  border-left: 1px solid #CCCCCC;
  padding: 3px 15px 15px 8px;
  margin-bottom: 15px;
}

.node-type-project .group_left_column_bottom {
  clear: both;
}

.node-type-project .group-left-column {
  float: left;
  width: 200px;
}

.node-type-project .group-right-column {
  float: right;
  width: 200px;
}

.node-type-project .group-left-column-bottom {
  float: left;
  width: 200px;
}

.node-type-project .group-right-column-bottom {
  float: right;
  width: 200px;
}

 /*
 * CONTENT TYPE = Blogs
 */

.node-type-blog #main #content {
  background: none;
}

.node-type-blog .content-wrap-inner {
  background: none;
}

.node-type-blog #main #content article {
  margin: 0 0 40px 0;
}

.node-type-blog #main #content h1.title {
  color: #85A4BA;
  font-size: 1.9em;
}

.node-type-blog #main #content .field-name-field-image {
  float: right;
  margin: 0 0 10px 15px; 
}

.node-type-blog #main #content ul.links {
  display: none;
}

.node-type-blog .galleryformatter {
  margin-top: 50px;
}

/* GALLERY PAGES */

.node-type-gallery-page h2.field-type-text {
  color: #444444;
  margin: 20px 0px 14px 0px;
}

.node-type-gallery-page ul.field-type-image {
   margin: 0px 0px 15px 0px;
  padding: 0px;
  list-style-image: none;
  list-style-type: none;
}

ul.field-name-field-image-gallery {
  
}

.node-type-gallery-page ul.field-type-image li {
  display: inline;
  width: 145px;
  max-height: 95px; 
  margin-right: 15px;
}

.node-type-gallery-page ul.field-type-image li img {
  width: 145px;
  border: 1px solid #999999;
  max-height: 95px; 
}

/* WEBFORM */

.webform-confirmation, .webform-results-per-page {
  margin-top: 43px;
}

/*GALLERY FORMATTER MODULE OVERIDES*/

body .gallery-thumbs {
  display: none;
}

body .slide-button {
  display: block;
  padding: 20px 8px;
  color: #FFF;
  font-weight: bold;
  background: #000;
}

/*LIGHTBOX2 MODULE OVERIDES*/

body #imageData {  
  font-size: 1.4em;
}

body #imageData #caption {
  font-weight: normal;
}

body #imageData #numberDisplay {
  margin-top: 10px;
  font-size: .9em;
}

body #prevLink:hover, 
body #prevLink:visited:hover, 
body #prevLink.force_show_nav, 
body #framePrevLink {
  background: url(../images/lightbox-prev.png) left 40% no-repeat;
}

body #nextLink:hover, 
body #nextLink:visited:hover, 
body #nextLink.force_show_nav, 
body #frameNextLink {
  background: url(../images/lightbox-next.png) right 40% no-repeat;
}


body #bottomNavZoom {
  display: block;
  width: 24px;
  height: 24px;
  background: url(../images/lightbox-zoom.png) no-repeat;
}

body #bottomNavZoomOut {
  width: 24px;
  height: 24px;
  background: url(../images/lightbox-zoomout.png) no-repeat;
}

/*
body #bottomNavClose {
  background: url(../images/lightbox-close.png) no-repeat;
}*/