/**
 * @file
 * Views Styling
 */


/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */

.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}

.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}

.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}

.views-displays .secondary .open > a:hover {
  color: #333;
}

.views-displays .secondary .action-list li {
  margin: 0;
}

.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}

.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

/*HOMEPAGE SLIDESHOW*/

#banners #block-views-slideshow-block .views-slideshow-controls-bottom {
	position: relative;
	top: -35px;
	right: 15px;
  z-index:  20;
}

#banners #block-views-slideshow-block .views-slideshow-controls-bottom .views-content-field-image {
  float: right;
  margin-right: 4px;
  width: 10px;
  height: 13px;
  border: 1px solid #FFF;
  background: url(../images/transparent-bg-white-20.png);
}

#banners #block-views-slideshow-block .views-slideshow-controls-bottom .views-content-field-image img {
	display: none;
}

/*HOMEPAGE BLOG LIST*/

.region-home-bottom-left .view-blog .views-row {
  padding-left: 11px;
  border-bottom: 1px solid #333333;
  overflow: hidden;
}

.region-home-bottom-left .view-blog a {
  color: #FFF;
}

.region-home-bottom-left .view-blog a:hover {
  color: #D2E1F0;
}

.region-home-bottom-left .view-blog .thumb img {
  float: left;
  width: 34px;
}

.region-home-bottom-left .view-blog .summary p {
  font-size: .9em;
  margin: 9px 20px 0px 44px;
}

/*FULL PAGE BLOG LIST*/

.view-blog-page {
  margin-top: 39px; 
}

.view-blog-page .views-row {
  clear: both;
  overflow: hidden; 
  margin-bottom: 25px;
  padding-bottom: 18px;
  border-bottom: 1px dotted #ccc;
}

.view-blog-page .medium-image {
  float: right;
  margin: 0 0 10px 15px 
}

.view-blog-page h2.blog-title {
  font-size: 1.9em;
  margin-bottom: 16px;
}

.view-blog-page h2.blog-title a:hover {
  color:#85A4BA;
}

.view-blog-page .submitted {
  font-style: italic;
  font-size: .9em;
}

/*FINISHES*/

.view-finishes .views-view-grid tr {
  vertical-align: top;
}

.view-finishes .views-view-grid .col-1 {
  width: 225px;
}

.view-finishes .views-view-grid .col-2 {
  padding-left: 20px;
}

.view-finishes .views-view-grid img {
  border: 1px solid #999999;
}

.view-finishes .views-view-grid p {
  display: inline;
}

.view-finishes .views-view-grid p {
  display: inline;
}

.views-field-body {
  margin-bottom: 18px; 
}

/* FEATURED PROJECTS = Sidebar */ 

.region-sidebar-second .view-featured-projects .views-row {
  border-top: 1px solid #CCCCCC;
  clear: both;
  overflow: hidden;
  margin-bottom: 8px;
  padding-right: 20px;
} 

.region-sidebar-second .view-featured-projects .views-row-first {
  margin-top: 12px;
}

.region-sidebar-second .view-featured-projects .field-name-field-featured-image {
  border-width: 0px 1px 1px 1px;
  border-color: #CCCCCC;
  border-style: solid;
  width: 53px;
  height: 53px;
  line-height: 0;
  float: left;
  margin-right: 8px;
}

.region-sidebar-second .view-featured-projects .views-field-title {
  margin: 4px 0 0 0;
  line-height: 15px;
}

